html, body{
    overflow-x: hidden;
}
.card-effect {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-effect:hover {
  transform: translate(-15px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
/* carousel */

#carouselExampleIndicators .carousel-indicators [data-bs-target] {
  width: 14px !important;
  height: 14px !important;
  border-radius: 50% !important;
  background-color: green !important;
  opacity: 0.5 !important;
}

#carouselExampleIndicators .carousel-indicators .active {
  background-color: #28a745 !important;
  opacity: 1 !important;
}
#carouselExampleIndicators{
  margin-top: 25px;
  margin-bottom: 25px;
}
